<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Splatter</title>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="https://code.angularjs.org/1.2.22/angular-cookies.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="splatter.css"></style>
		<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="ui.js"></script>
	</head>
	<body>
		<div id="wrapper" ng-controller="UserController as user">
			<div id="top">
				<div id="topLeft">
					<a href="."><img id="titleImage" src="splatterTitle.PNG"></a>
				</div>
				<div id="topRight">
					<form id="loginForm" ng-submit="user.loginUser()" >
						<input type="text"  placeholder="ID" ng-model="user.data.loginName" required/>
						<input id"loginButton" type="submit"  value="Login" />
					</form>
					<button id="registerButton">Register</button>
				</div>
			</div>
			
			<div id="register">
				<form id="registerForm" ng-submit="user.registerUser()">
					<title>Register</title>
					<input name="name"type="text" placeholder="Name" ng-model="user.data.registerName" required/><br/>
					<input type="text" placeholder="Email" ng-model="user.data.registerEmail" required/><br/>
					<input type="text" placeholder="Password" ng-model="user.data.registerPassword" required/><br/>
					<input id="registerSave" type="submit" value="Save"/>
				</form>
			</div>

			<div id="current">
				<h3>Current User</h3>
				<p>Name: {{user.u.name}}</p>
				<p>Blurb: {{user.u.blurb}}</p>
			</div>

			<div id="update">
				<h3>Update User</h3>
				<form id="editNameForm" ng-submit="user.updateUser()">
					<input type="text" placeholder="Name" ng-model="user.data.updateName" required/></br>
					<input type="text" placeholder="Blurb" ng-model="user.data.updateBlurb" required/></br>
					<input id="updateButton" type="submit" value="Save Changes"/>
				</form>
			</div>

			<div id="compose">
				<h3>New Splatt</h3>
				<form id="editNameForm" ng-submit="user.submitSplatt()">
					<textarea placeholder="Splatt" cols="40" rows="2" ng-model="user.data.newBody" required></textarea></br>
					<input id="composeButton" type="submit" value="Save Changes"/>
				</form>
			</div>
			<div class="splatts" ng-repeat="splatts in user.feed.splatts_feed">
				{{splatts.date | date: 'dd/MM/yyyy h:mma'}}</br>
				<b>{{splatts.name}}</b> 
				"{{splatts.splatt}}"
			</div>

			<div id="follow">
				<h3>Follow</h3>
				<form id="addFollowForm" ng-submit="user.addFollow()">
					<input type="text" placeholder="User to Follow" ng-model="user.data.addFollow" required>
					<input id="addFollowButton" type="submit" value="Create Follow"/>
				</form>
				<h3>Unfollow</h3>
				<form id="removeFollowForm" ng-submit="user.removeFollow()">
					<input type="text" placeholder="User to Unfollow" ng-model="user.data.removeFollow" required>
					<input id="removeFollowButton" type="submit" value="Remove Follow"/>
				</form>
			</div>

			<div id="delete">
				<form ng-submit="user.removeUser()" >
					<input type="submit"  value="Delete Account" />
				</form>
			</div>

			<div id="otherUser" ng-controller="FeedController as userFeed" >
				<h3>Other User Feed</h3>
				<form id="editNameForm" ng-submit="userFeed.updateFeed()">
					<input type="text" placeholder="ID" ng-model="userFeed.data.userID" required>
					<input id="changeUser" type="submit" value="Change User"/>
				</form>
				<div ng-repeat="splatts in userFeed.feed.splatts_feed">
					{{splatts.date | date: 'dd/MM/yyyy h:mma'}}</br>
					<b>{{splatts.name}}</b> 
					"{{splatts.splatt}}"
				</div>
			</div>

			<div id="footer">
				<h3>Dan Bernhardt -- 2014</h3>
			</div>
		</div>
	</body>
</html>
